.participants-table {
  margin: 0 40px;
}

.participants-table .rs-progress-line .rs-progress-info {
  flex: 0 0 70px;
  width: 70px;
}

.participants-table a svg {
  fill: var(--rs-text-link);
}

@media screen and (max-width: 768px) {
  .participants-table {
    margin: 0;
  }
}
